body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Nav Bar Header */
#logined-nav {
    overflow: hidden;
}

#logined-nav .logo {
    float: left;
    padding-left: 2%;
    padding-bottom: 15px;
    padding-top: 25px;
}

#logined-nav .logo img {
    height: 35px;
    width: 140px;
}

#logined-nav nav {
    float: right;
}

#logined-nav nav a {
    float: left;
    text-align: center;
    padding-top: 45px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    font-family: "Lato", sans-serif;
}

#logined-nav nav #currentpage {
    background-color: #4CAF50;
    color: white;
}

#logined-nav nav a:hover {
    background-color: #4CAF50;
    color: white;
    transition: 1s;
}
.nav-logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-grow: 1;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    padding: 14px 80px;
    display: block;
}

.nav-item:hover {
    background-color: #575757;
}

.nav-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-icon {
    background-color: #fff;
    height: 2px;
    width: 25px;
    margin: 3px 0;
}
.nav-container {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    max-width: 1200px;
    margin: auto;
}
/*First image*/
.Wallpaper1 {
    width: 100%;
    margin-top: 0px;
}


.overlay-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    border-radius: 5px; 
}

.overlay-text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    border-radius: 5px; 
}


.overlay-text2:hover {
    color: rgb(241, 241, 161);
}


.container {
    position: relative;
}

/*Counter image*/
.Counter {
    width: 100%;
    margin-top: 10px;
}
.donation-overlay {
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 40px;
    font-weight: italic;
    text-align: center;
    border-radius: 5px;
    width:650px;
}
.numbers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 120px;
    text-align: center;
    font-style: italic;
    border-radius: 5px;
    width:650px;
}
.donation-overlay2 {
    position: absolute;
    top: 80%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 40px;
    font-weight: italic;
    text-align: center;
    border-radius: 5px;
    width:650px;
}
.join-button {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    padding: 10px 20px;
    background-color: #4CAF50; /* Adjust as needed */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Adjust as needed */

}
/*Donation form*/

.Donation-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom:20px;
}

.form{
    height:718px;
}
.form-container{
    position:relative
}
.overlay-rectangle {
    position: absolute;
    top: 10%;
    left: 10%;
    width:80%;
    height:80%;
    background-color: white; /* Semi-transparent background */
    color: black; /* Text color */
    display: flex;
}
.title{
    position:absolute;
    left:5%;
    font-size:45px;
}
.subtitle{
    position:absolute;
    top:15%;
    left:5%;
    font-size:25px;
}
.form-image{
    height:718px
}
.donationSelection{
    font-size: 25px;
}
.dropdown {
    position: absolute;
    top:30%;
    left:5%;
}

.dropdown .dropdown-toggle {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px 20px 8px 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:40vw;
    background-color: #D9D9D9;
}

.dropdown .dropdown-toggle::after {
    content: "\25BC"; /* Downward arrow */
    font-size: 12px;
    margin-left: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown.active .dropdown-content {
    display: block;
}

.submit-button {
    border-radius: 8px;
    margin-top:70px;
    margin-left:250px;
    text-align: center;
    background-color: green;
    color: white;          
    padding: 10px 20px;     
    border: none;           
    font-size: 16px;        
    width:100px;
}
#anotherDonation{
    border-radius: 8px;
    display:none;
    margin-top:70px;
    margin-left:0px;
    text-align: center;
    background-color: green; 
    color: white;           
    padding: 10px 20px;    
    border: none;           
    font-size: 16px;       
    width:150px;
}
#view{
    border-radius: 8px;
    align-content: center;
    display:none;
    margin-top:70px;
    margin-left:10px;
    text-align: center;
    background-color: green; 
    color: white;           
    padding: 10px 20px;     
    border: none;          
    font-size: 16px;
    width:150px;
}
.popup{
    display: flex;
    justify-content: center;
}